<div class="hide-on-med-and-down">
        {include="template/logo"}
</div>
<div class="about-us-container fadeInRight animated">
        <div class="md-layout md-vertical-align-center" style="height: 100vh;">
                <h1 class=" primary-text about-text">
                        CONSTRUIMOS RELACIONES DURADERAS, EMOCIONALES Y PERSONALIZADAS PARA CADA CLIENTE
                </h1>
                <p class="rc-font  dark-text">
                        En más de 12 años formamos un grupo multidiciplinario apasionado por las ideas, abrazamos
                        proyectos con compromiso, pasión y responsabilidad.
                </p>
                <div class="marquee-container">
                        <marquee behavior="" direction="right">
                                <h2 class="marquee-stroke">ADPERÚ COMUNICATION GROUP</h2>
                        </marquee>
                </div>

        </div>
</div>
<div class="hide-on-med-and-down">
        {include="template/footer"}
</div>