<div class="fadeInRight animated" >
  <div class="hide-on-med-and-down">
    {include="template/logo"}
  </div>
  <div class="hide-on-med-and-up">
    {$logo_style="logo-primary"}
    {include="template/logo"}
  </div>
<div class="md-layout " >
<div class="md-layout md-flex-80 md-flex-small-100 " style="height: 100vh;">
  <div id="slider" class="slider">
    {loop="$images"}
      {if="$counter==0"}
      <div slider-item active on-desktop="{$value.src}" on-small="{$value.small}" class="fadeInRight">

      </div>
      {else}
      <div slider-item on-desktop="{$value.src}" on-small="{$value.small}"   class="fadeInRight">

      </div>
      {/if}
    {/loop}
    <div class="slider-next">
        <i class="material-icons primary-text " cursor="pointer" onclick="slider.next()">navigate_next</i>
    </div>
    </div>
</div>
<div class="md-layout md-flex-20 md-hide-small" style="position: absolute;z-index: 9;top: 0;right: 0;bottom: 0;background: #fff;">

</div>
</div>
<div class="hide-on-med-and-down">
    {include="template/footer"}
</div>
<div class="hide-on-med-and-up">
    {include="template/white-footer"}
</div>
</div>
