<div class="md-layout md-vertical-align-center fadeInRight animated service-container" auto-height>
        {include="template/logo"}

        <ul class="collapsible z-depth-0 service-collapsible">
                <li>
                        <div class="collapsible-header"><span class="b-font dark-text service-text">BRANDING</span>
                        </div>
                        <div class="collapsible-body"><span class="bold-font">Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li class="active">
                        <div class="collapsible-header"><span class="b-font dark-text service-text">PUBLICIDAD
                                        ATL</span></div>
                        <div class="collapsible-body"><span class="bold-font"> Creamos estrategias y conceptos sólidos, únicos, los cuales
                                        permiten que las marcas crezcan y se
                                        consoliden a trávez de su difusión en medios masivos y de alto impacto.</span>
                        </div>
                </li>
                <li>
                        <div class="collapsible-header"><span class="b-font dark-text service-text">PUBLICIDAD
                                        BTL</span></div>
                        <div class="collapsible-body"><span class="bold-font">Nuestras acciones tácticas, en materia de BTL, logran responder ampliamente de manera creativa y estratégica, a las expectativas de nuestros clientes, llevando el mensaje a segmentos específicos del mercado.</span></div>
                </li>
                <li>
                        <div class="collapsible-header">
                                <div class="service-text dark-text b-font hide-on-med-and-down"><span>TRADE
                                                MARKETING</span></div>
                                <div class="service-text dark-text b-font hide-on-med-and-up"><span>TRADE MKT</span>
                                </div>
                        </div>
                        <div class="collapsible-body"><span class="bold-font">Asumimos y desarrollamos una postura estratégica que contribuya al incremento de ventas y al afianzamiento de la fidelidad de marca. Tomamos en cuenta tres criterios: Incremento de ventas, exhibición de productos y hacer más fluida la comunicación con el cliente.</span></div>
                </li>
                <li>
                        <div class="collapsible-header">
                                <div class="service-text dark-text b-font hide-on-med-and-down"><span>MARKETING
                                                DIGITAL</span></div>
                                <div class="service-text dark-text b-font hide-on-med-and-up"><span>MKT
                                                DIGITAL</span></div>
                        </div>
                        <div class="collapsible-body"><span class="bold-font">En una era de Marketing por resultados, manejamos de manera especializada las herramientas digitales, transformándolas en campañas digitales de éxito, con alta efectividad y óptima inversión.</span></div>
                </li>
                <li>
                        <div class="collapsible-header">
                                <div class="service-text dark-text b-font hide-on-med-and-down"><span>MARKETING
                                                POLÍTICO</span></div>
                                <div class="service-text dark-text b-font hide-on-med-and-up"><span>MKT
                                                POLÍTICO</span></div>
                        </div>
                        <div class="collapsible-body"><span class="bold-font">Lorem ipsum dolor sit amet.</span></div>
                </li>

                <li>
                        <div class="collapsible-header">
                                <div class="service-text dark-text b-font hide-on-med-and-down"><span>RELACIONES
                                                PÚBLICAS</span></div>
                                <div class="service-text dark-text b-font hide-on-med-and-up"><span>RRPP</span></div>
                        </div>
                        <div class="collapsible-body"><span class="bold-font">Garantizamos una difusión oportuna con información relevante para los medios escogidos selectivamente, con el objetivo de realzar la imagen de marca y poner barreras a la aparición de noticias negativas que puedan afectarla.</span></div>
                </li>


        </ul>

        {include="template/footer"}
</div>