<div class="md-layout md-vertical-align-center fadeInRight animated service-container" style="height: 100vh;">
        {include="template/logo"}
        <span class="bold service-text dark-text rc-font md-layout md-flex-100">BRANDING</span>
        <span class="bold service-text primary-text rc-font md-layout md-flex-100">PUBLICIDAD ATL</span>
        <span class="bold dark-text  md-layout md-flex-100">
                Creamos estrategias y conceptos sólidos, únicos, los cuales permiten que las marcas crezcan y se
                consoliden a trávez de su difusión en medios masivos y de alto impacto.
        </span>
        
         <div style="margin-top: 20px;">
                        <hr style="border:2px solid var(--primary);width:50px;">
         </div>
        
        <div class="service-text dark-text rc-font md-layout md-flex-100"><span>PUBLICIDAD BTL</span></div>
        <div class="service-text dark-text rc-font md-layout md-flex-100 hide-on-med-and-down"><span>TRADE MARKETING</span></div>
        <div class="service-text dark-text rc-font md-layout md-flex-100 hide-on-med-and-up"><span>TRADE MKT</span></div>
        <div class="service-text dark-text rc-font md-layout md-flex-100 hide-on-med-and-down"><span>MARKETING DIGITAL</span></div>
        <div class="service-text dark-text rc-font md-layout md-flex-100 hide-on-med-and-up"><span>MKT DIGITAL</span></div>
        <div class="service-text dark-text rc-font md-layout md-flex-100 hide-on-med-and-down"><span>MARKETING POLÍTICO</span></div>
        <div class="service-text dark-text rc-font md-layout md-flex-100 hide-on-med-and-UP"><span>MKT POLÍTICO</span></div>
        <div class="service-text dark-text rc-font md-layout md-flex-100 hide-on-med-and-down"><span>RELACIONES PÚBLICAS</span></div>
        <div class="service-text dark-text rc-font md-layout md-flex-100 hide-on-med-and-up"><span>RRPP</span></div>
        {include="template/footer"}
</div>